@page
@model LoginModel
@* <div class="wrapper">
    <form action="${pageContext.request.contextPath}/login" class="login" method="POST">
        <p class="title">Log in</p>
        <c:if test="${notification != null}">
            <div class="alert <c:choose><c:when test=" ${notiType= ='RED' }">
                alert-danger</c:when><c:otherwise>alert-success</c:otherwise></c:choose>">
                <strong>${notification}</strong>
                <%session.removeAttribute("notification");%>
                <%session.removeAttribute("notiType");%>
            </div>
        </c:if>
        <input name="username" type="text" placeholder="Email" autofocus />
        <i class="fa fa-user"></i>
        <input name="password" type="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <a href="${pageContext.request.contextPath}/register">Register</a>
        <span style="font-size: 0.8em;">or</span>
        <a href="${pageContext.request.contextPath}/forgot-password">Forgot password?</a>
        <div class="row text-center">
            <input name="loginSubmit" class="registerSubmit" type="submit" value="Login">
        </div>
        <c:set var="req" value="${pageContext.request}" />
        <c:set var="baseURL" value="${fn:replace(req.requestURL, fn:substring(req.requestURI, 0, fn:length(req.requestURI)), req.contextPath)}" />
        <a href="https://accounts.google.com/o/oauth2/auth?scope=profile%20email&redirect_uri=${baseURL}/login-google&response_type=code&client_id=114010930889-heqf5hnbf5eo1vfb4p5j02pcr8vl3bfu.apps.googleusercontent.com&approval_prompt=force">Login With Google</a>
    </form>
</div>
 *@

<div class="wrapper">
    <form id="account" method="post" class="login">
        <p class="title">Log in</p>
        <!-- Notification Start -->
        @{
            if (TempData["notification"] != null)
            {
                string notiType = "";
                if (TempData["notiType"].Equals("RED"))
                {
                    notiType = "alert-danger";
                }
                else
                {
                    notiType = "alert-success";
                }
                <div class="alert @notiType">
                    <strong>@TempData["notification"]</strong>
                </div>
            }
        }

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Email" type="text" placeholder="Email" autofocus />
        <i class="fa fa-user"></i>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <input asp-for="Input.Password" type="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <span asp-validation-for="Input.Password" class="text-danger"></span>

        <!--Remember account  checkbox-->
        <div>
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" style="display: inline-block; width: auto;" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>

        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
        <span style="font-size: 0.8em;">or</span>
        <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
        <div class="row text-center">
            <input id="login-submit" class="registerSubmit" type="submit" value="Login"></input>
        </div>
        <c:set var="req" value="${pageContext.request}" />
        <c:set var="baseURL" value="${fn:replace(req.requestURL, fn:substring(req.requestURI, 0, fn:length(req.requestURI)), req.contextPath)}" />
        <!--Login with google-->
        @* <a href="https://accounts.google.com/o/oauth2/auth?scope=profile%20email&redirect_uri=${baseURL}/login-google&response_type=code&client_id=114010930889-heqf5hnbf5eo1vfb4p5j02pcr8vl3bfu.apps.googleusercontent.com&approval_prompt=force">Login With Google</a> *@
        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@