@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model KeyboardVN.Models.Product
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div class="bg-light">
                <div class="product-img position-relative overflow-hidden product-image-container">
                    @if (Model != null)
                    {
                        <img src="@Model.Image" alt="Product Image" />
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3> @Html.DisplayFor(model => model.Name)</h3>
                <div class="d-flex" style="align-items: center;">
                    <div class="d-flex" style="align-items: center;">
                        @{
                            double currentPrice = Model.Price - (Model.Discount ?? 0);
                        }
                        <fmt:setLocale value="en_US" />
                        <h3 class="font-weight-semi-bold mb-4"><fmt:formatNumber type="currency" pattern="###,###¤">Price: @currentPrice</fmt:formatNumber></h3>
                        @if (currentPrice < Model.Price)
                        {
                            <h4 class="font-weight-semi-bold text-muted ml-2 mb-4">
                                <del><fmt:formatNumber type="currency" pattern="###,###¤">Price: @Html.DisplayFor(Model=>Model.Price)</fmt:formatNumber></del>
                            </h4>
                        }
                    </div>
                </div>
                <p class="mb-4">@Html.DisplayFor(model => model.Description)</p>
                <div class="d-flex mb-3">
                    <strong class="text-dark mr-1">Category: </strong>@Html.DisplayFor(model => model.Category.Name);
                </div>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-1">Brand: </strong>@Html.DisplayFor(model => model.Brand.Name);
                </div>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-1">In Stock: </strong>@Html.DisplayFor(model => model.UnitInStock)
                </div>
                <form asp-action="AddToCart" class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input name="quantityToBuy" id="quantityToBuy" class="form-control bg-secondary border-0 text-center" value="1" required>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>Add To Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>










