@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model KeyboardVN.Models.Product
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div class="bg-light">
                <div class="product-img position-relative overflow-hidden product-image-container">
                    @if (Model != null)
                    {

                        <img style="width:550px; height:550px" src="@Model.Image" alt="Product Image" />
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3> @Html.DisplayFor(model => model.Name)</h3>
                <div class="d-flex" style="align-items: center;">
                    <div class="d-flex" style="align-items: center;">
                        @{
                            double? currentPrice = Model?.Price - (Model?.Discount ?? 0);
                        }
                        <h3 class="font-weight-semi-bold mb-4">Price: @currentPrice$</h3>
                        @if (currentPrice < Model?.Price)
                        {
                            <h4 class="font-weight-semi-bold text-muted ml-2 mb-4">
                                <del>Price: @Html.DisplayFor(Model=>Model.Price)$</del>
                            </h4>
                        }
                    </div>
                </div>
                <p class="mb-4">@Html.DisplayFor(model => model.Description)</p>
                <div class="d-flex mb-3">
                    <strong class="text-dark mr-1">Category: </strong>@Html.DisplayFor(model => model.Category.Name)
                </div>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-1">Brand: </strong>@Html.DisplayFor(model => model.Brand.Name)
                </div>
                <div class="d-flex mb-4">
                    <strong class="text-dark mr-1">In Stock: </strong>@Html.DisplayFor(model => model.UnitInStock)
                </div>
                <form asp-controller="Cart" asp-action="addToCart" class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input name="quantityToBuy" id="quantityToBuy" class="form-control bg-secondary border-0 text-center" pattern="[1-9]\d*" title="Quantity must be a number more than 0" value="1" required>
                        <input type="hidden" name="productId" value="@Model?.Id"></input>
                        <input type="hidden" name="from" value="detail"></input>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>Add To Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script>
        $('.quantity button').on('click', function () {
            var button = $(this);
            var oldValue = button.parent().parent().find('input').val();
            if (button.hasClass('btn-plus')) {
                var newVal = parseFloat(oldValue) + 1;
            } else {
                if (oldValue > 1) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 1;
                }
            }
            // button.parent().parent().parent().find('input').val(newVal);
            // $('#quantityToBuy').val(newVal);
            button.parent().parent().parent().find('input[name="quantityToBuy"]').val(newVal)

            if (newVal == 1) {
                button.closest("tr").remove();
            }

            var currentCol = button.parent().parent().parent();
            var price = currentCol.prev().text().slice(0, -1).replace(/\./g, '');
            var oldTotal = currentCol.next().text().slice(0, -1).replace(/\./g, '');
            if (button.hasClass('btn-plus')) {
                if (currentCol.hasClass('align-middle')) {
                    var newTotal = (parseInt(oldTotal) + parseInt(price));
                    var subtotal = parseInt($("#subtotalText").text().slice(0, -1).replace(/\./g, '')) - oldTotal + newTotal;
                }
            } else {
                if (currentCol.hasClass('align-middle')) {
                    var newTotal = (parseInt(oldTotal) - parseInt(price));
                    var subtotal = parseInt($("#subtotalText").text().slice(0, -1).replace(/\./g, '')) - oldTotal + newTotal;
                }
            }
            var total = subtotal + shipping;
            currentCol.next().text(newTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + 'đ');
            $("#subtotalText").text(subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + 'đ');
            $("#shippingText").text(shipping.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + 'đ');
            $("#totalText").text(total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + 'đ');
        });
    </script>
}









