@model IEnumerable<KeyboardVN.Models.Order>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
@{
    ViewData["Title"] = "History";
}
<div class="container-fluid">
    @if (!Model.Any())
    {

        <div class="col-12 pb-1">
            <p style="
                           text-align: center;
                           font-weight: 500;
                           font-size: 24px
                           ">Your History is empty!</p>
        </div>
    }
    else
    {
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-left mb-0">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Receiver)
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShipPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedTime)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" style="width: 100%">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.Receiver)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.ShipStreet),
                                    @Html.DisplayFor(modelItem => item.ShipCity),
                                    @Html.DisplayFor(modelItem => item.ShipProvince),
                                    @Html.DisplayFor(modelItem => item.ShipCountry)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.ShipEmail)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.ShipPhone)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.CreatedTime)
                                </td>
                                <td class="text-center">
                                    <a asp-action="OrderDetail" asp-route-id="@item.Id">
                                        <i class="fas fa-info-circle fa-1.56x" style="color: #28a745;"></i>
                                    </a>
                                    @if (item.Status.Equals("Processing"))
                                    {
                                        <a style="padding-left: 5px" asp-action="EditStatus" asp-route-id="@item.Id" asp-route-status="Cancelled">
                                            <i class="fas fa-trash-alt fa-1.5x" style="color: #dc3545;"></i>
                                        </a>
                                    }
                                    else if (item.Status.Equals("Shipping"))
                                    {
                                        <a style="padding-left: 5px" asp-action="EditStatus" asp-route-id="@item.Id" asp-route-status="Received">
                                            <i class="fa-regular fa-square-check fa-1.5x" style="color: #007bff;"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
