@model IEnumerable<KeyboardVN.Models.Product>

@{
    ViewData["Title"] = "View Product";
}
@section style {
    <link rel="stylesheet" href="~/admin/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/global/vendor/datatables.net-fixedheader-bs4/dataTables.fixedheader.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/global/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedcolumns.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/global/vendor/datatables.net-rowgroup-bs4/dataTables.rowgroup.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/global/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/global/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/global/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/global/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.css">
    <link rel="stylesheet" href="~/admin/mmenu/assets/examples/css/tables/datatable.css">
}

<style>
    .product-image {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .product-image-container {
        padding-top: 100%;
    }
</style>

<div class="page">
    <!-- Page Header -->
    <div class="page-header">
        <h1 class="page-title">View Product</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Manage Product</li>
        </ol>
        <div class="page-header-actions">
            <a class="btn btn-sm btn-default btn-outline btn-round" asp-action="Create">
                <i class="icon wb-user-add" aria-hidden="true"></i>
                <span class="hidden-sm-down">Add New Product</span>
            </a>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Page Content -->
    <div class="page-content">

        <!-- Panel -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">List of Products</h3>
            </div>
            <div class="panel-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Discount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitInStock)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Brand)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <img style="height: 90px; width: 90px;" src="@item.Image" alt="Product Image" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Discount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitInStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this product?');">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Panel -->

    </div>
    <!-- End Page Content -->
</div>


@section Scripts {
    <script src="~/admin/global/vendor/datatables.net/jquery.dataTables.js"></script>
    <script src="~/admin/global/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/admin/global/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js"></script>
    <script src="~/admin/global/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js"></script>
    <script src="~/admin/global/vendor/datatables.net-rowgroup/dataTables.rowGroup.js"></script>
    <script src="~/admin/global/vendor/datatables.net-scroller/dataTables.scroller.js"></script>
    <script src="~/admin/global/vendor/datatables.net-responsive/dataTables.responsive.js"></script>
    <script src="~/admin/global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    <script src="~/admin/global/vendor/datatables.net-buttons/dataTables.buttons.js"></script>
    <script src="~/admin/global/vendor/datatables.net-buttons/buttons.html5.js"></script>
    <script src="~/admin/global/vendor/datatables.net-buttons/buttons.flash.js"></script>
    <script src="~/admin/global/vendor/datatables.net-buttons/buttons.print.js"></script>
    <script src="~/admin/global/vendor/datatables.net-buttons/buttons.colVis.js"></script>
    <script src="~/admin/global/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
    <script src="~/admin/global/vendor/asrange/jquery-asRange.min.js"></script>
    <script src="~/admin/global/vendor/bootbox/bootbox.js"></script>

    <script src="~/admin/global/js/Plugin/datatables.js"></script>

    <script src="~/admin/mmenu/assets/examples/js/tables/datatable.js"></script>
}